
@import url(./colorStructure.css);
@import url(./sizesStructure.css);
@import url(../assets/bootstrap/css/bootstrap.css);
@import url(../assets/fontawesome/css/all.min.css);
@import url(./style.css);



@font-face {
    font-family: adobe_arabic;
    src: url(./../assets/fonts/22016-adobearabic.ttf);
}

* {
    box-sizing: border-box;
    font-family: "Calibri", sans-serif ;
    scroll-behavior: smooth;
}
body {
    background-color: #f9f9fb;
}
.of-hidden {
    overflow: hidden;
}
.outline-none {
    outline: none;
}

.obj-fit-cover{
    object-fit: cover;
}

.obj-fit-contain{
    object-fit: contain;
}


.transform-scale-min-1{
    transform: scaleX(-1);
}

.user-select-none{
    user-select: none;
}

::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    border-radius: 0;
    transition: 500ms all;
    /*display: none;*/
}
::-webkit-scrollbar-track {
    border-radius: 0;
}
::-webkit-scrollbar-thumb {
    background: #999;
    transition: 250ms all;
    border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
    background: black;
    transition: 250ms all;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.rotate-180-deg{
    transform: rotateZ(-180deg);
}

.cursor-pointer{
    cursor: pointer;
}

.dis-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.dis-flex-center-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dis-flex-center-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.dis-flex-center-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.dis-flex-center-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.dis-flex-sentence {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
}
.dis-flex-start-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.dis-flex-center-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.box-shadow-1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-shadow-2{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.text-justify{
    text-align: justify;
}

.text-overflow-hidden{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.text-all-screen-sizes-1 {
    font-size: calc(0.5em + 0.3vw);
}
.text-all-screen-sizes-2 {
    font-size: calc(0.2em + 0.4vw);
}
.text-all-screen-sizes-3 {
    font-size: calc(0.3em + 0.4vw);
}
.text-all-screen-sizes-4 {
    font-size: calc(0.5em + 0.5vw);
}
.text-all-screen-sizes-5 {
    font-size: calc(1em + 1vw);
}
.text-all-screen-sizes-6 {
    font-size: calc(1em + 0.5vw);
}
.text-all-screen-sizes-7 {
    font-size: calc(1em + 0.6vw);
}
.font-all-screen-sizes-1 {
    font-size: calc(0.5em + 0.3vw);
}
.font-all-screen-sizes-2 {
    font-size: calc(0.2em + 0.4vw);
}
.font-all-screen-sizes-3 {
    font-size: calc(0.3em + 0.4vw);
}
.font-all-screen-sizes-4 {
    font-size: calc(0.5em + 0.5vw);
}
.font-all-screen-sizes-5 {
    font-size: calc(1em + 0.5vw);
}

.font-size-input{
    font-size: 25px;
}



.h-8-per {
    height: 8%;
}
.h-10-per {
    height: 10%;
}
.h-15-per {
    height: 15%;
}
.h-20-per {
    height: 20%;
}
.h-25-per {
    height: 25%;
}

.h-30-per {
    height: 30%;
}
.h-40-per {
    height: 40%;
}
.h-45-per {
    height: 45%;
}
.h-50-per {
    height: 50%;
}
.h-60-per {
    height: 60%;
}
.h-70-per {
    height: 70%;
}
.h-75-per {
    height: 75%;
}
.h-80-per {
    height: 80%;
}
.h-85-per {
    height: 85%;
}
.h-88-per {
    height: 88%;
}
.h-90-per {
    height: 90%;
}
.h-92-per {
    height: 92%;
}
.h-94-per {
    height: 94%;
}
.h-95-per {
    height: 95%;
}

.h-98-per {
    height: 98%;
}
.h-99-per {
    height: 99%;
}
.h-100-per {
    height: 100%;
}


.h-min-text{
    height: 154px;
}


.h-max-0-px {
    max-height: 0;
}
.h-max-500-px {
    max-height: 500px;
}
.h-max-50-px {
    max-height: 50px;
}
.h-20-px {
    height: 20px;
}
.h-25-px {
    height: 25px;
}
.h-30-px {
    height: 30px;
}
.h-35-px {
    height: 35px;
}
.h-40-px {
    height: 40px;
}
.h-45-px {
    height: 45px;
}
.h-50-px {
    height: 50px;
}
.h-60-px {
    height: 60px;
}
.h-75-px {
    height: 75px;
}
.h-80-px {
    height: 80px;
}
.h-100-px {
    height: 100px;
}
.h-125-px {
    height: 125px;
}

.h-150-px {
    height: 150px;
}
.h-200-px {
    height: 200px;
}
.h-250-px {
    height: 250px;
}

.h-300-px {
    height: 300px;
}
.h-400-px {
    height: 400px;
}
.h-500-px {
    height: 500px;
}
.h-700-px {
    height: 700px;
}
.w-5-per {
    width: 5%;
}
.w-6-per {
    width: 6%;
}
.w-7-per {
    width: 7%;
}
.w-8-per {
    width: 8%;
}
.w-10-per {
    width: 10%;
}
.w-12-per {
    width: 12%;
}
.w-13-per {
    width: 13%;
}
.w-15-per {
    width: 15%;
}
.w-16-per {
    width: 16%;
}
.w-17-per {
    width: 17%;
}
.w-18-per {
    width: 18%;
}
.w-20-per {
    width: 20%;
}

.w-21-per {
    width: 21%;
}
.w-22-per {
    width: 22%;
}
.w-25-per {
    width: 25%;
}
.w-30-per {
    width: 30%;
}
.w-35-per {
    width: 35%;
}
.w-36-per {
    width: 36%;
}
.w-40-per {
    width: 40%;
}
.w-45-per {
    width: 45%;
}
.w-50-per {
    width: 50%;
}
.w-55-per {
    width: 55%;
}
.w-60-per {
    width: 60%;
}
.w-64-per {
    width: 64%;
}
.w-70-per {
    width: 70%;
}
.w-75-per {
    width: 75%;
}
.w-78-per {
    width: 78%;
}
.w-80-per {
    width: 80%;
}
.w-82-per {
    width: 82%;
}
.w-84-per {
    width: 84%;
}
.w-85-per {
    width: 85%;
}
.w-88-per {
    width: 88%;
}
.w-90-per {
    width: 90%;
}
.w-92-per {
     width: 92%;
 }
.w-94-per {
    width: 94%;
}
.w-95-per {
    width: 95%;
}
.w-97-per {
    width: 97%;
}
.w-98-per {
    width: 98%;
}
.w-99-per {
    width: 99%;
}
.w-100-per {
    width: 100%;
}
.w-40-px {
    width: 40px;
}
.w-50-px {
    width: 50px;
}
.w-60-px {
    width: 60px;
}
.w-75-px {
    width: 75px;
}
.w-80-px {
    width: 80px;
}
.w-100-px{
    min-width: 100px;
}
.w-min-120-px{
    min-width: 120px;
}

.w-150-px {
    width: 150px;
}


.w-200-px {
    width: 200px;
}

.w-250-px {
    width: 250px;
}

.w-300-px {
    width: 300px;
}

.w-400-px {
    width: 400px;
}
.w-500-px {
    width: 500px;
}

.w-min-800-px {
    min-width: 800px;
}
.w-min-900-px {
    min-width: 900px;
}
.w-min-1000-px {
    min-width: 1000px;
}

.z-min-1 {
    z-index: -1;
}
.z-0 {
    z-index: 0;
}
.z-1 {
    z-index: 1;
}
.z-2 {
    z-index: 2;
}
.z-3 {
    z-index: 3;
}
.z-4 {
    z-index: 4;
}

.pos-right-min-50-per {
    right: -50%;
}
.pos-right-min-100-per {
    right: -100%;
}
.pos-right-min-150-per {
    right: -150%;
}
.pos-right-min-200-per {
    right: -200%;
}
.pos-right-0-per {
    right: 0;
}
.pos-right-25-per {
    right: 25%;
}

.pos-right-50-per {
    right: 50%;
}
.pos-right-75-per {
    right: 75%;
}
.pos-right-100-per {
    right: 100%;
}
.pos-left-min-50-per {
    left: -50%;
}
.pos-left-min-100-per {
    left: -100%;
}
.pos-left-min-150-per {
    left: -200%;
}
.pos-left-min-200-per {
    left: -200%;
}
.pos-left-0-per {
    left: 0;
}
.pos-left-25-per {
    left: 25%;
}
.pos-left-50-per {
    left: 50%;
}
.pos-left-75-per {
    left: 75%;
}
.pos-left-100-per {
    left: 100%;
}

.pos-left-150-per {
    left: 200%;
}
.pos-top-0-per {
    top: 0;
}
.pos-top-min-100-per {
    top: -100%;
}

.pos-top-50-per {
    top: 50%;
}

.pos-bottom-0-per {
    bottom: 0;
}

.pos-bottom-50-per {
    bottom: 50%;
}


.p-top-8-px {
    padding-top: 8px;
}
.p-bottom-8-px {
    padding-bottom: 8px;
}
.m-top-10-px {
    margin-top: 10px;
}
.vis-on {
    visibility: visible;
}
.vis-off {
    visibility: hidden;
}

.scroll-x {
    overflow-x: scroll;
}

.scroll-y {
    overflow-y: scroll;
}
.scroll-y-scroll {
    overflow-y: scroll;
    overflow-x: hidden;

}

.scroll-y-scroll ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 0;
}

.scroll-x-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    /*scroll-snap-type: x mandatory;*/
    /*scroll-snap-align: center;*/
}


.direction-rtl {
    direction: rtl;
}
.direction-ltr {
    direction: ltr;
}
.grey-white-E5 {
    background-color: #e5e5e5;
}
.grey-white-F6 {
    background-color: #f6f6f6;
}

.op-1{
    opacity: 1;
}

.op-0{
    opacity: 0;
}

.rounded-bottom-15-px {
    border-radius: 0 0 10px 10px;
}
.rounded-top-15-px {
    border-radius: 10px 10px 0 0;
}
.button {
    border: 1px solid var(--primary);
}
.button:hover {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
}

.list-buttons{
    display: flex;
    justify-content: center;
    align-items: center;

}
.list-buttons button{
    margin-left: 5px;
    width: 40px;
    height: 40px;
}

.dis-grid-auto-400-px{
    display: flex;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 8px;
    justify-content: center;
    align-items: flex-start;
}

.dis-grid-auto-45-per{
    display: flex;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 8px;
    /*justify-content: space-evenly;*/
    /*align-items: flex-start;*/
}


/*.autoComplete{*/
/*    position: absolute;*/
/*    top: 101%;*/
/*    right: .5%;*/
/*    width: 99.5%;*/
/*    !*min-height: 5px;*!*/
/*    display: none;*/
/*    list-style: none;*/
/*    !*padding: 0 !important;*!*/
/*    z-index: 10;*/
/*    background: var(--secondary);*/
/*    padding: 0 !important;*/
/*    overflow: hidden;*/
/*    border-radius: 6px;*/

/*}*/
/*.autoComplete ul li {*/
/*    list-style-type: none;*/
/*    padding: 0 !important;*/
/*    margin: 0 !important*/
/*}*/

/*.autoComplete ul li button{*/
/*    list-style-type: none;*/
/*    padding: 0 !important;*/
/*    padding-right: 5px !important;*/
/*    border-radius: 0;*/
/*    margin: 0 !important;*/
/*    border: 0 !important;*/
/*    display: flex;*/
/*    justify-content: start;*/
/*    align-items: center;*/

/*}*/
/*.autoComplete ul li button:hover{*/
/*    background-color: var(--search) !important;*/
/*}*/


/*.autoComplete ul {*/
/*    list-style-type: none;*/
/*    padding: 0 !important;*/
/*    margin: 0 !important*/
/*    }*/




@media screen and (max-width: 900px) and (min-width: 400px) {

    .list-buttons{
        /*display: flex;*/
        justify-content: flex-start;
        /*align-items: center;*/
    }

    .list-buttons button{
        margin-left: 5px;
        width: 35px;
        height: 35px;
    }

    #form-holder {
        width: 100%;
    }
}
