.footer {
    padding: 2rem 0 1rem;
    letter-spacing: 2px;
    background-color: $lightColor;

    .socials {
        margin: 10px 0;

        a {
            margin: 0 10px;
            text-decoration: none;
            transition: transform 0.4s;

            &:hover {
                transform: scale(1.2);
            }

            i {
                font-size: 2rem;
            }
        }
    }

    h6 {
        a {
            color: #0989b3;
            text-decoration: none !important;
            font-size: 1rem;
        }
    }

    .navLinkFooter {
        font-size: 14px;
        color: $darkColor;
        text-decoration: none;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}